.container {
  display: grid;
  grid-template-rows: 10rem;
  grid-gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.boxContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 3em;
}

.item {
}
